<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1">

  <title>{{meta_title}}</title>
  <!-- todo: SEO -->
  {{#if meta_description}}
    <meta name="description" content="{{meta_description}}">
  {{/if}}

  <link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="{{asset "css/main.css"}}">

  <!--[if lte IE 9]>
  <script src="//cdn.staticfile.org/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
  <![endif]-->

  {{ghost_head}}
</head>
<body>
<aside class="cover" style="background-image: url({{@blog.cover}});">
  <div class="profile">
    <a class="avatar-link" href="">
      <img src="{{@blog.logo}}" alt="{{{@blog.title}}}">
      {{#is "post, tag"}}
        <h2 class="profile-title">{{@blog.title}}</h2>
      {{else}}
        <h1 class="profile-title">{{@blog.title}}</h1>
      {{/is}}
    </a>
    <hr class="divider long">
    <p class="profile-description">{{@blog.description}}</p>
    <hr class="divider short">
    {{!-- navigation here --}}
    {{#if @blog.navigation}}
      <nav>
        <ul class="links">
          {{#foreach @blog.navigation}}
            <li><a href="{{url absolute="true"}}">{{label}}</a></li>
          {{/foreach}}
        </ul>
      </nav>
    {{/if}}
    <ul class="social-links">
      <li><a href="https://github.com/nilptr"><i class="fa fa-github"></i></a></li>
      <li><a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
      <li><a href="mailto:nilptr.js@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
      <li><a href="{{@blog.url}}/rss"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</aside>
<main class="main" role="main">
  <div class="content">
    {{{body}}}

    <footer>
      <p>Copyright © 2016-2017 <a href="#">nilptr</a>. All rights reserved.</p>
      <p>Powerd By <a href="https://ghost.org">Ghost</a> · <a href="https://github.com/nilptr/ghost-leo">leo</a> theme</p>
    </footer>
  </div>
</main>

{{ghost_foot}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96891590-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="{{asset "js/prism.pack.js"}}"></script>
</body>
</html>
